/* CSS Variables */
:root{
    --headers: #202125;
    --background:  #4d4d4d;
    --grey: #858585;
    --lightgrey: #d2d2d2;
    --shadow: 0 1px 5px rgba(0, 0, 0, 0.473);
    --hover: 0 3px 10px rgba(0, 0, 0, 0.205);
}

body{
    background-color: var(--background);
    background: url(../img/NMD-Black-Cover.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;
    background-origin: border-box;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.btn{
    background-color: var(--lightgrey);
    font-family: 'Roboto Mono', monospace;
    color: black;
    height: 30px;
    width: 90px;
    border-radius: 5px;
    border: none;
    margin: 0px 10px 10px 10px;
    transition-duration: 0.4s;
}

.btn:hover{
    box-shadow: var(--shadow);
    transition-duration: 0.4s;
    cursor: pointer;
}

h3{
    font-family: 'Roboto Mono', monospace;
    color: var(--headers);
    margin: 0px 325px 0px 325px;
    padding: 20px 0px;
}

/* NAVIGATION */
.logo {
	width: 75px;
	display: inline-block;
}

.navbar {
    text-align: center;
    height: 80px;
    text-decoration: none;
    color: #fff;
}

ul{
    text-decoration: none;
    color: #fff;
    padding: 0;
}

li{
    display: inline-block;
    margin: 1rem;
}

li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
}

li a:hover{
    color: var(--grey);
}

/* BANNER */
.banner{
    position: 0px;
    min-height: 475px;
    text-align: center;
}

.banner h1{
    font-family: 'Roboto Mono', monospace;
    font-size: 42px;
    font-weight: 300;
    color: #fff;
    padding: 30px 0;
}

/* BACKGROUND */
.background-container{
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

/* PRODUCTS */
.product-container{
    margin-left: 23%;
    margin-right: 23%;
    display:grid;
    grid-template-columns: 350px 350px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.card{
    background-color: var(--grey);
    min-height: 350px;
    width: 350px;
    margin: auto;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.shoe-img{
    border-radius: 5px;
}

.card h4{
    margin: 20px 10px 15px 15px;
}

.card .btn{
    margin: 0px 0px 10px 15px;
}

.product1{
    background: url(../img/Airmax-90.jpg);
    min-height: 250px;
}

.product2{
    background: url(../img/Ultraboost.jpg);
    min-height: 250px;
}

.product3{
    background: url(../img/Airmax-97.jpg);
    min-height: 250px;
}

.product4{
    background: url(../img/NMD-R1.jpg);
    min-height: 250px;
}

/* ABOUT */
.about{
    min-height: 200px;
    margin: 50px 0px 50px 0px;
    padding: 25px 50px;
    background-color: var(--lightgrey);
    text-align: center;
}

.about h2{
    font-size: 32px;
    font-family: 'Roboto Mono', monospace;
}

.about p{
    font-size: 20px;
}

/* Contact form */
.contact-form{
    margin: auto;
    padding: 10px 50px;
    min-width: 750px;
    min-height: 325px;
    box-sizing: border-box;
}

.contact-form h3{
    font-size: 24px;
    color: var(--headers);
    margin-left: 0px;
}

.contact-form input{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-left: 5px;
    margin: 5px 0px 10px 0px;
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form #message{
    height: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 5px;
    width: 100%;
    resize: none;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.contact-form .submit-form{
    width: 100%;
    float: right;
}

/* Footer */
footer{
    width: 100%;
    height: 100px;
    text-align: center;
    margin-top: 50px;
    overflow: hidden;
    background-color: var(--grey);
}

footer p{
    font-family: 'Roboto Mono', monospace;
    color: var(--lightgrey);
    font-size: 14px;
    padding: 25px;
}

/* Media Queries */
@media(max-width:1050px){
    h3{
        margin: 0px 0px 0px 50px;
        padding: 20px 0px;
    }
    .product-container{
        display: inline;
        gap: 10px;
        margin: auto;
    }
    .card{
        margin-bottom: 10px;
    }
}

@media(max-width:800px){
    .contact-form{
        min-width: 500px;
    }
    .contact-form h3{
        font-size: 20px;
        margin-right: 0px;
    }
}

@media(max-width:700px){
    h3{
        margin: 0px 0px 0px 50px;
        padding: 20px 0px;
    }
    .banner h1{
        font-size: 36px;
    }
}

@media(max-width:600px){
    body{
        background: url(../img/NMD-Black-600.png);
        background-size: auto;
        background-position: top;
    }
    .logo {
        width: 75px;
        display: block;
        margin: auto;
    }
    li{
        display: block;
        margin: 1rem;
    }
    .banner h1{
        margin-top: 100px;
        font-size: 36px;
    }
    .contact-form{
        min-width: 300px;
    }
    .about h2{
        font-size: 24px;
    }
    .about p{
        font-size: 18px;
    }
    footer p{
        font-size: 12px;
    }
}